/* Variables */
:root {
    --white-color: white;
    --white-color-10-transparent: rgba(255, 255, 255, 0.1);
    --white-color-90-transparent: rgba(255, 255, 255, 0.9);
    --light-gray-color: #F1F1F1;
    --black-color: #191919;
    --gray-color: #c0c0c0;
    --dark-gray-color: #B4B4B8;
}

/* Estilos generales para todas las páginas */
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

header {
    width: 90vw;
    padding: 5vw;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0;
}

body {
    width: 100vw;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.fontWhite {
    color: var(--white-color);
}

/* Menú */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navLogo {
        max-width: 50%;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    .navMenu {
        display: none;
    }

    .hamburguer {
        cursor: pointer;

        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: var(--black-color);
        }
    }
}

/* Estilos de la Landing Page --index.astro-- */
.backgroundImg {
    width: 100%;
    background-image: url('/ventanalMain.jpg');
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;

    .textOverImg{
        background: rgba(0, 0, 0, 0.3);
        padding: 10%;
        padding-top: 45%;
        padding-bottom: 30%;
    } 
}

.background {
    width: 90%;
    background-color: var(--light-gray-color);
    padding: 5%;
}

.floatingForm {
    display: flex;
    flex-direction: column;
    padding: 10%;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 15px;
    box-shadow: 0px 2px 5px var(--dark-gray-color);

    .formTitle {
        margin-bottom: 10%;
    }

    .formLabel {
        margin-bottom: 2%;
    }

    .textInput {
        margin-bottom: 4%;
        padding: 4%;
        border: solid 1px var(--gray-color);
        border-radius: 2px;
    } 
}