/* Variables */
:root {
    --main-title-color: red;
    --main-title-font-size: 4rem;
}

/* Estilos generales para todas las páginas */
* {
    padding: 0;
    margin: 0;
}

header {
    width: 90vw;
    padding: 5vw;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Menú */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navLogo {
        max-width: 50%;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    .navMenu {
        display: none;
    }

    .hamburguer {
        cursor: pointer;

        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: #101010;
        }
        
        /* .barLarge {
            width: 25px;
        }
        
        .barShort {
            width: 8px;
            margin-right: 0;
        } */
    }
}

/* Estilos de la Landing Page --index.astro-- */
.backgroundElement {
    width: 100%;
    background-image: url('/ventanalMain.jpg');
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;

    .mainContainer{
        background: rgba(0, 0, 0, 0.3);
        padding: 10%;
        padding-top: 25%;

        .mainH1 {
            font-size: 4rem;
            color: white;
        }
    } 
}



.backgroundImage {
    width: 100%;
    background-image: url('/ventanalMain.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */

    /* & :before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
    } */
}


