---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ventaki</title>
	</head>
	<body>
		<h1>Ventaki</h1>
		<h2>Sobre Nosotros</h2>
		<h3>Y nuestro trabajo</h3>

		<nav>
			<a href="/">(LOGO)</a>
			<a href="/empresa">Empresa</a>
		</nav>
	</body>
</html>
