---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Ventaki">
	<main class="mainElement">
		<h1 class="mainH1">Damos luz, seguridad y confort a tu hogar</h1>
	</main>
</BaseLayout>