---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Ventaki">
	<main class="backgroundImg">
		<div class="mainContainer">
			<h1 class="fontWhite">Damos luz, seguridad y confort a tu hogar.</h1>
		</div>
	</main>
    <section class="background">
        <form action="" class="floatingForm">
            <h2 class="">Presupuesto y asesoramiento, gratis: </h2>
            <input type="text" name="nombre" id="" placeholder="Nombre*">
            <input type="text" name="apellido" id="" placeholder="Apellido*">
            <input type="text" name="tlf" id="" placeholder="Teléfono*">
            <input type="submit" value="Te llamamos">
        </form>
    </section>
</BaseLayout>