---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Ventaki">
    <main>
        <article class="backgroundImg">
            <section class="textOverImg">
                <h1 class="fontWhite">Hacemos que estar en casa sea <span class="italic">agradable.</span></h1>
            </section>
        </article>
        <article class="background">
            <form action="" class="floatingForm">
                <h2 class="formTitle">Asesoramos y preparamos un presupuesto, gratis: </h2>
                <label class="formLabel" for="nombre">Nombre</label>
                <input class="textInput" type="text" name="nombre" id="">
                <label class="formLabel" for="apellidos">Apellidos</label>
                <input class="textInput" type="text" name="apellidos" id="">
                <label class="formLabel" for="tlf">Número de teléfono</label>
                <input class="textInput" type="text" name="tlf" id="">
                <input class="submitInput" type="submit" value="SOLICITAR">
            </form>
        </article>
        <article class="importantText">
            <h2 class="headline">Deja los problemas fuera de tu hogar.</h2>
            <p class="subHeadline">Más de 30 años en el sector dan para mucho. Gracias a esa experiencia nos aseguramos de que el frío, el calor y el ruido sean cosas de la calle, no de tu casa. Contamos con ventanas de máxima calidad y aislamiento, pero también con profesionales que tratarán tu casa como la suya.</p>
        </article>
    </main>
    <script>
        function reorganizeMainDiv() {
            var backgroundImg = this.document.querySelector('.backgroundImg');
            var background = this.document.querySelector('.background');

            if (961 <= this.window.innerWidth) {
                backgroundImg.append(background);
            } else {
                // backgroundImg.parentNode.append(background);
            }
        };

        window.addEventListener('load', reorganizeMainDiv);
        window.addEventListener('resize', reorganizeMainDiv);
    </script>
</BaseLayout>