---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Ventaki">
    <section class="backgroundImg">
        <div class="textOverImg">
            <h1 class="fontWhite">Damos luz, seguridad y confort a tu hogar.</h1>
        </div>
    </section>
    <section class="background">
        <form action="" class="floatingForm">
            <h2 class="">Presupuesto y asesoramiento, gratis: </h2>
            <input type="text" name="nombre" id="" placeholder="Nombre*">
            <input type="text" name="apellido" id="" placeholder="Apellido*">
            <input type="text" name="tlf" id="" placeholder="Teléfono*">
            <input type="submit" value="Te llamamos">
        </form>
    </section>

    <script>
        function reorganizeMainDiv() {
            var backgroundImg = this.document.querySelector('.backgroundImg');
            var background = this.document.querySelector('.background');

            if (961 <= this.window.innerWidth) {
                backgroundImg.append(background);
            }
        };

        window.addEventListener('load', reorganizeMainDiv);
        window.addEventListener('resize', reorganizeMainDiv);
    </script>
</BaseLayout>