---
import NewBaseLayout from "../layouts/NewBaseLayout.astro";
---
<NewBaseLayout title="Ventaki">
    <main>
        <article class="columnToRow backgroundImg" style="background-image: url('/ventanalMain.jpg');">
            <section class="twoModules" id="landingHeadline">
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
            </section>
            <section class="twoModules" id="landingMainCTA">
                <form action="" class="floatingForm">
                    <h2 class="">Asesoramos y preparamos un presupuesto, gratis: </h2>
                    <label class="floatingFormLabel" for="nombre">Nombre</label>
                    <input class="floatingFormInput" type="text" name="nombre" id="">
                    <label class="floatingFormLabel" for="apellidos">Apellidos</label>
                    <input class="floatingFormInput" type="text" name="apellidos" id="">
                    <label class="floatingFormLabel" for="tlf">Número de teléfono</label>
                    <input class="floatingFormInput" type="text" name="tlf" id="">
                    <input class="floatingFormSubmit" type="submit" value="SOLICITAR">
                </form>
            </section>
        </article>
        <!-- <article class="fullWidth twoSectionArticle backgroundImg" style="background-image: url('/ventanalMain.jpg');">
            <section class="halfWidth transparentBlackBackground">
                <section class="fullWidth textOverImg">
                    <h1 class="fontWhite">Hacemos que estar en casa sea <span class="italic">agradable.</span></h1>
                </section>
            </section>
            <section class="background floaterBackground" id="formBackground">
                <form action="" class="floating flex floatingForm">
                    <h2 class="formTitle">Asesoramos y preparamos un presupuesto, gratis: </h2>
                    <label class="formLabel" for="nombre">Nombre</label>
                    <input class="textInput" type="text" name="nombre" id="">
                    <label class="formLabel" for="apellidos">Apellidos</label>
                    <input class="textInput" type="text" name="apellidos" id="">
                    <label class="formLabel" for="tlf">Número de teléfono</label>
                    <input class="textInput" type="text" name="tlf" id="">
                    <input class="submitInput" type="submit" value="SOLICITAR">
                </form>
            </section>
        </article>
       
        <article class="importantText">
            <h2 class="headline">Deja los problemas fuera de tu hogar.</h2>
            <p class="subHeadline">Más de 30 años en el sector dan para mucho. Gracias a esa experiencia nos aseguramos de que el frío, el calor y el ruido sean cosas de la calle, no de tu casa. Contamos con ventanas de máxima calidad y aislamiento, pero también con profesionales que tratarán tu casa como la suya.</p>
        </article>

        <article class="fullWidth flex twoSectionArticle">
            <section class="background">
                <article class="floating">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
                    <p>Vestibulum quis pharetra est, quis varius augue. Nullam pellentesque lectus eu semper porttitor. Nullam mattis tortor eget neque scelerisque, sit amet rhoncus lorem imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris vel risus nec lorem aliquam fermentum a at tortor. Nunc dapibus vitae diam vitae consequat. Cras sed dui lacus.</p>
                </article>
            </section>
            <section class="backgroundImg" style="background-image: url('/ventanaLluvia.avif');">
            </section>
        </article> -->
    </main>
    <!-- <script>
        function reorganizeMainDiv() {
            var backgroundImg = this.document.querySelector('.backgroundImg');
            var background = this.document.querySelector('#formBackground');

            if (961 <= this.window.innerWidth) {
                backgroundImg.append(background);
            } else {
                // backgroundImg.parentNode.append(background);
            }
        };

        // window.addEventListener('load', reorganizeMainDiv);
        // window.addEventListener('resize', reorganizeMainDiv);
    </script> -->
</NewBaseLayout>