---
---
<footer>
    <p class="footerTitle">Ventanas Ventaki SL</p>
    <article class="footerBody">
        <section class="footerSection">
            <p>Empresa</p>
            <ul>
                <li>Conócenos</li>
                <li>
                    Poligono Ibaiondo 1
                    Pabellones 5-6.
                    20271 IRURA
                    (Gipuzkoa)
                </li>
            </ul>
        </section>
        <section class="footerSection">
            <p>Productos</p>
            <ul>
                <li>Brilliant Design 799</li>
                <li>GENEO</li>
                <li>Classic 52 RPT</li>
                <li>RS65 Evolution RPT*</li>
            </ul>
        </section>
        <section class="footerSection">
            <p>Contacto</p>
            <ul>
                <li>+34 943 107 807</li>
                <li>+34 945 101 097</li>
                <li>+33 553 521 119</li>
            </ul>
        </section>
        <section class="footerSection">
            <p>Privacidad</p>
            <ul>
                <li>Política de cookies</li>
                <li>Aviso legal</li>
            </ul>
        </section>
    </article>
</footer>