@media (min-width: 931px) {
    // módulos únicos
    header {
        width: 98vw;
        padding: 1vw;
        background-color: $transparent-white-25;
        position: absolute;

        .navBar {
            .navLogo {
                max-width: 20%;
            }
        }
    }

    // IDs
    #landingHeadline {
        h1 {
            margin: 0 0 0 10%;
        }
    }

    #landingMainCTA {
        background: $transparent-black-30;

        form {
            background-color: $transparent-white-90;
        }
    }

    // Clases
    .columnToRow {
        flex-direction: row;
    
        .twoModules {
            width: 44%;
            padding: 3%;
        }
    }

    .backgroundImg {
        min-height: 100%;
    }

    .floatingForm {
        margin: 15%;
        margin-top: 25%;
        padding: 7%;
        background-color: $transparent-white-90;
    }
}