// Colores
$white: white;
$transparent-white-25: rgba(255, 255, 255, 0.25);
$transparent-white-90: rgba(255, 255, 255, 0.9);
$light-grey: #F6F5F2;
$black: #191919;
$transparent-black-30: rgba(0, 0, 0, 0.3);
$grey: #c0c0c0;
$dark-grey: #B4B4B8;
$red: #C40C0C;
